*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #3D58D2;
    --text-color: #fff;
    --bg-color:#1e1c2a;
    --big-font:5rem;
    --h2-font:2.25rem;
    --p-font:0.9rem;
}

*::selection {
    background: var(--main-color);
    color: #fff;
}

.corpo{
    background-color: var(--bg-color);
}

.cabeca{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    background: var(--bg-color);
}

.logo{
    color: var(--main-color);
    font-weight: 600;
    font-size: 2.4rem;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 10px 20px ;
    font-weight: 500;
}

.navbar a:hover{
    color: var(--main-color);
    transition: 1s;
}

section{
    padding: 150px;
    display: flex;
}

img{
    width: 800px;
    height: 600px;
    padding-left: 150px;
}

.legend{
    color: var(--main-color);
}



.rodape{
    padding-left: 45%;
    font-size: 1.1rem;
    display: block;
    color: var(--main-color);
}


form {
    background-color: var(--bg-color);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 550px;
    color: var(--main-color);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="datetime-local"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: var(--main-color);
    color: var(--text-color);
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--main-color);
}