*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #3D58D2;
    --text-color: #fff;
    --bg-color:#1e1c2a;
    --big-font:5rem;
    --h2-font:2.25rem;
    --p-font:0.9rem;
    --red-color: red;
}

*::selection {
    background: var(--main-color);
    color: #fff;
}

.corpo{
    background-color: var(--bg-color);
}

.cabeca{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    background: var(--bg-color);
}

.logo{
    color: var(--main-color);
    font-weight: 600;
    font-size: 2.4rem;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 10px 20px ;
    font-weight: 500;
}

.navbar a:hover{
    color: var(--main-color);
    transition: 1s;
}

section{
    padding: 150px;
}

.legend{
    color: var(--main-color);
}



.rodape{
    padding-left: 45%;
    font-size: 1.1rem;
    display: block;
    color: var(--main-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid var(--bg-color);
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: var(--bg-color);
    color: var(--main-color);
}

tr {
    background-color: var(--bg-color);
    color: var(--text-color);
}


.despachar-link {
    
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 2px solid var(--red-color);
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.despachar-link:hover {
    background-color: var(--red-color);
    color: var(--text-color);
}


button.ver-detalhe {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 2px solid var(--main-color);
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button.ver-detalhe:hover {
    background-color: var(--main-color);
}


.despachar:visited a{
    color: var(--text-color)!important;
}

.error-msg {
    color: var(--red-color);
    font-weight: bold;
    margin-top: 10px;
}
.error {
    margin-left: 10px;
}

/* Adicione esta classe para alternar as cores das linhas da tabela */
.table-striped tbody tr td{
    border-bottom: 1px solid white;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    padding: 100px;
}

.modal-img{
    width: 500px;
    height: 230px;
}


.modal-content {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 80px;
    border: 1px solid var(--main-color);
    width: 50%;
    height: 110%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
    justify-content: center;
}

/* Estilo para o botão de fechar o modal */
.close {
    color: var(--main-color);
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: #ccc;  /* Sutil alteração de cor ao passar o mouse */
}

