{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'todos/painel.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <title>Safe Car - Painel</title>
</head>

<body class="corpo">
    <header class="cabeca">
        <a href="{% url "home" %}" class="logo">Safe Car</a>
        <div></div>
        <ul class="navbar">
            <li><a href="{% url "todo_list" %}">Painel de veículos</a></li>
            <li><a href="{% url "todo_create" %}">Adicionar novo veículo</a></li>
            <li><a href="{% url "tudo_relacao" %}">Histórico de relação</a></li>
        </ul>
    </header>

    <section>
        <table>
            <thead>
                <tr>
                    <th>Placa</th>
                    <th>Tipo de Veículo</th>
                    <th>Andar</th>
                    <th>Hora de Entrada</th>
                    <th>Hora de Saída</th>
                    <th>Valor</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for todo in todo_list %}
                    <tr>
                        <td>{{ todo.placa }}</td>
                        <td>{{ todo.tipo }}</td>
                        <td>{{ todo.andar|default:"Despachado" }}</td>
                        <td>{{ todo.hora_entrada }}</td>
                        <td>{% if todo.hora_saida %}{{ todo.hora_saida }}{% else %}{{ "" }}{% endif %}</td>
                        <td>R$ {% if todo.valor %}{{ todo.valor }},00{% else %}0,00{% endif %}</td>

                        <td>
                            {% if todo.andar or not todo.hora_saida %}
                                <button class="despachar-btn"> 
                                    <a class="despachar-link" href="{% url "todo_saida" pk=todo.placa %}">Despachar</a> 
                                </button>
                            {% else %}
                                <button class="ver-detalhe" onclick="abrirModal(
                                    '{{ todo.placa }}', 
                                    '{{ todo.tipo }}', 
                                    '{{ todo.andar|default:"Despachado" }}', 
                                    '{{ todo.hora_entrada }}', 
                                    '{% if todo.hora_saida %}{{ todo.hora_saida }}{% else %}{{ "" }}{% endif %}', 
                                    '{% if todo.valor %}{{ todo.valor }}{% else %}{{ "" }}{% endif %}'
                                )">Detalhe</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <section>
        <center>
            <div id="modal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="fecharModal()">&times;</span>
                    <div id="info-veiculo"></div>
                </div>
            </div>
        </center>
    </section>

    <script>
        function fecharModal() {
            document.getElementById("modal").style.display = "none";
        }
    
        function abrirModal(placa, tipo, andar, hora_entrada, hora_saida, valor) {
            var modal = document.getElementById("modal");
            var modalContent = document.getElementById("info-veiculo");
    
            var conteudoModal = `
                <h2>Detalhes do Veículo</h2>
                <br>
                <p><strong>Placa:</strong> ${placa}</p>
                <br>
                <p><strong>Tipo de Veículo:</strong> ${tipo}</p>
                <br>
                <p><strong>Andar:</strong> ${andar}</p>
                <br>
                <p><strong>Hora de Entrada:</strong> ${hora_entrada}</p>
                <br>
                <p><strong>Hora de Saída:</strong> ${hora_saida ? hora_saida : "Não definida"}</p>
                <br>
                <p><strong>Valor:</strong> R$ ${valor ? valor + ",00" : "0,00"}</p>
                
                <img class="modal-img" src="{% static "img/carwoman.png" %}">
            `;

            modalContent.innerHTML = conteudoModal;
            modal.style.display = "block";
        }
    </script>

    <span class="rodape">Desenvolvido por 👽&🐢</span>
</body>

</html>